body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

nav {
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.nav-left,
.nav-right {
  padding: 0.2em 2em;
}

.form {
  margin: 2em 3em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.form-fields {
  display: flex;
  gap: 2em;
}

input {
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  border-color: #D5D4D8;
}

button {
  /* margin: 1em 2em; */
  padding: 0.5em 1em;
  align-self: center;
  color: white;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 0.5em;
  border: none;
  width: 100%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.meme {
  position: relative;
  display: flex;
  flex-direction: column;
}

.meme-img {
  width: 50%;
  height: auto;
  align-self: center;
  position: relative;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}


@media screen and (max-width: 700px) {

  .nav-left,
  .nav-right {
    padding: 0.2em 0.75em;
  }

  .form-fields {
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }

  .input {
    width: none;
  }

  form {
    margin: 2em 3em;
    display: flex;
    flex-direction: column;
  }

  .meme {
    width: 100%;
    height: auto;
  }

  .meme-text {
    font-size: 0.5em;
  }
}