.html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

#quote-box {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  padding: 2em;
  align-self: center;
  margin: 0 auto;
}

.box-top {
  display: flex;
  flex-direction: column;
}

.box-bottom {
  display: flex;
  flex-direction: row;
}

#text {}

#author {}

#new-quote {}

#tweet-quote {}