html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}


#quote-box {

  text-align: center;
  border: 1px solid red;
  background-color: aqua;
}

.box-top {
  display: flex;
  flex-direction: column;
}

.box-bottom {
  display: flex;
  flex-direction: row;
}

#text {}

#author {}

#new-quote {}

#tweet-quote {}