html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: aqua;
}

#wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


#quote-box {
  text-align: center;
  background-color: white;
  padding: 2em;
  width: 450px;
  border-radius: 0.5em;
}

.box-top {
  display: flex;
  flex-direction: column;
}

.box-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#text {
  text-align: center;
}

#text>p {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0px;
}

#author {
  align-self: flex-end;
  margin-bottom: 1em;
}

#new-quote {
  background-color: black;
  border: none;
  padding: 1em 1.5em;
  border-radius: 0.3em;
  color: white;
}

#tweet-quote {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 0.5em;
  border-radius: 0.3em;
}

a {
  display: flex;
  align-items: center;
}

#dev-info {
  color: white;
}

@media screen and (max-width: 768px) {}