html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0B2434;
}


.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

main {
  margin-top: 6em;
  background-color: white;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  border-radius: 1em;
}

.text-section {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; */
}

h1 {
  text-align: center;
}

.text-section>p {
  text-align: center;
  font-size: 1.25em;
}

.number-section {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.number-row-1 {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: none;
  padding: 1em;
  border-radius: 0.3em;
  border: none;
}

.roll-btn {
  padding: 0.75em 2.5em;
  color: white;
  background-color: #5035FF;
  font-weight: bold;
  font-size: larger;
}