html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

#website_name {
  color: #FF5A5F;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  padding: 0.5em 1.5em;
}

.header-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  padding-top: 2em;
}

.header {
  padding-left: 2em;
  padding-right: 2em;
}


#title {
  font-size: 3em;
}

#text-box {
  width: 80%;
  height: auto;
}

#text {
  font-weight: 100;
  font-size: 1.5em;
  text-align: left;
}

.content {
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3em;
}

.item-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}



@media screen and (min-width: 768px) {

  nav {
    padding-left: 4em;
  }

  .header-pic {
    padding-top: 3em;
    /* align-self: center; */
  }

  .header {
    padding-left: 4em;
    padding-right: 4em;
  }

  #text {
    font-size: 2em;
  }

  .content {
    display: flex;
    justify-content: center;
    gap: 3em;
  }
}