html,
body {
    margin: 0;
    padding: 0 2em;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Ma Shan Zheng', cursive; */
}

.profile {
    width: 500px;
    height: auto;
    align-self: center;
}

.center-text,
.button-grp {
    text-align: center;
}